{
  admin off
}

:8080 {
  handle /api/* {
    reverse_proxy api:3000
  }

  handle /rtc* {
    reverse_proxy livekit:7880 {
      header_up Connection {>Connection}
      header_up Upgrade {>Upgrade}
    }
  }

  handle {
    encode gzip
    reverse_proxy web:80
  }
}
