{
  admin off
}

(app) {
  handle /api/* {
    reverse_proxy api:3000
  }

  @livekit path /rtc /rtc/* /twirp/*
  handle @livekit {
    reverse_proxy livekit:7880 {
      header_up Host livekit:7880
      header_up X-Forwarded-Proto {scheme}
      header_up Connection {>Connection}
      header_up Upgrade {>Upgrade}
      transport http {
        versions 1.1
      }
      flush_interval -1
    }
  }

  handle {
    encode gzip
    reverse_proxy web:80
  }
}

:8080 {
  import app
}

:8443 {
  tls /certs/cert.pem /certs/key.pem
  import app
}
